.footer {
  display: flex;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
